html {
	background: black;
	font-family: 'Ariel Nova', 
	font-color: black
}

p{
	color: black:
	
}



header{
	background-color: #fc6005;
	color: #fafafa;
	text-align: center;
	padding: 10px;
}
	
nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li{
	margin: 0 10px;
}

nav a{
	text-decoration: none;
	color: #fafafa
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
	

footer {
	background-color:#fc6005;
	color: #fafafa;
	padding: 20px;
  }
  
  
  .footer-content {
	display: flex;
	justify-content: space-between;
	color: #fafafa;
  }
  
  .footer-info,
  .social-media {
	flex: 1;
  }
  
  .social-icon {
	margin-right: 10px;
  }

  .flex-container {
	display:flex;
	justify-content: No-space;
  background-color: #ff78bb; 
	padding:0px;
	font-color:black
}

.flex-item {
	flex: 1;
	padding: 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.flex-item h2 {
	color: #333;
}
.flex-item p {
	color: #333;
}